body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container{
    border: 5px;
    display: flex;
    justify-content: flex-end;
}

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid grey;
    margin: 2px;
}


.our-location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 5%;
}

.location-photos{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    align-items: center;
}

h5{
    text-align: center;
}

.circle-image{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.message-us {
    display:flex;
    flex-direction: column;
    padding: 5%;
}

.form-section{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-section > *{
    padding:10%;
}


.user-form{
    display:flex;
    flex-direction: column;
}

.output{
    border: 2px solid black;
    width:250px; 
    max-width:250px; 
    display: inline-block;
    padding: 1%
}

footer > p {
    display: flex;
    justify-content: flex-end;
}

header img[src="assets/logo.jpg"]{
    width: 30%;
    height: auto;
}

@media only screen and (max-width:480px) {

    header {
        flex-direction: column;
    }

    header img[src="assets/logo.jpg"]{
        width: 50%;
        height: auto;
    }
    .container{ /*- should be /container -*/
        flex-direction: column;
    }

    .location-photos{
        flex-direction: column;
    }
    
    .form-section{
        flex-direction: column;
    }

    .form-section > *{
        padding:7%;
    }
}


.banner img{
    object-fit: cover;
    width: 100%;
    height: 578px;
}

.home {
    padding: 5%;
}